<div class="row view-background">
    <div class="large-12 columns">
        <section data-bind="with: item">
            <h1 class="view-headline">Area information</h1>

            <div class="row">
                <div class="large-12 columns">
                    <label for="Number">
                        Number
                    </label>
                    <input name="Number" type="text" data-bind="value: Number" />
                </div>
            </div>

            <div class="row">
                <div class="large-12 columns">
                    <label for="Name">
                        Name
                    </label>
                    <input name="Name" type="text" data-bind="value: Name" />
                </div>
            </div>

            <div class="row">
                <div class="large-12 columns">
                    <span class="text-button" data-bind="click: $parent.saveItem">
                        Save
                    </span>
                </div>
            </div>
        </section>
    </div>
</div>