<div class="row view-background">
    <div class="large-12 columns">
        <section data-bind="with: item">
            <h1 class="view-headline">Fund information</h1>

            <fieldset>
                <legend>Current status</legend>

                <div class="row">
                    <div class="large-4 columns">
                        <label for="Status">
                            Status
                        </label>
                        <select name="Status" data-bind="value: Status">
                            <option value="1">Draft</option>
                            <option value="2">Final</option>
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="large-4 columns">
                        <label for="Number">
                            Fund number<span class="required">*</span>
                        </label>
                        <input name="Number" type="text" data-bind="value: Number, css: { validationElement: true }" />
                        <span class="error-message" data-bind="validationMessage: Number"></span>
                    </div>
                </div>

                <div class="row">
                    <div class="large-8 columns">
                        <label for="Title">
                            Fund title<span class="required">*</span>
                        </label>
                        <input name="Title" type="text" data-bind="value: Title" />
                        <span class="error-message" data-bind="validationMessage: Title"></span>
                    </div>
                </div>

                <div class="row">
                    <div class="large-6 columns">
                        <label for="ResponsiblePerson">
                            Responsible person<span class="required">*</span>
                        </label>
                        <input name="ResponsiblePerson" type="text" data-bind="value: ResponsiblePerson" />
                        <span class="error-message" data-bind="validationMessage: ResponsiblePerson"></span>
                    </div>
                </div>

                <div class="row">
                    <div class="large-6 columns">
                        <label for="CurrentBudget">
                            Current fiscal year approved budget<span class="required">*</span>
                        </label>
                        <input name="CurrentBudget" type="text" data-bind="value: CurrentBudget" />
                        <span class="error-message" data-bind="validationMessage: CurrentBudget"></span>
                    </div>
                </div>

                <div class="row">
                    <div class="large-6 columns">
                        <label for="ProjectedExpenditures">
                            YTD and projected expenditures through June 30<span class="required">*</span>
                        </label>
                        <input name="ProjectedExpenditures" type="text" data-bind="value: ProjectedExpenditures" />
                        <span class="error-message" data-bind="validationMessage: ProjectedExpenditures"></span>
                    </div>
                </div>

                <div class="row panel">
                    <div class="large-6 columns">
                        <span>Projected year-end balance :
                            <strong data-bind="text: projectedYearEndBalance"></strong>
                        </span>
                    </div>
                </div>
            </fieldset>

            <fieldset>
                <legend>Next year projected budget</legend>

                <div class="row">
                    <div class="large-4 columns">
                        <label for="BudgetAdjustment">
                            Projected increase or decrease<span class="required">*</span>
                        </label>
                        <input name="BudgetAdjustment" type="text" data-bind="value: BudgetAdjustment" />
                        <span class="error-message" data-bind="validationMessage: BudgetAdjustment"></span>
                    </div>
                </div>

                <div class="row panel">
                    <div class="large-12 columns">
                        <span>Requested budget: 
                            <strong data-bind="text: requestedBudget"></strong>
                        </span>
                    </div>
                </div>
            </fieldset>

            <fieldset>
                <legend>Supporting information</legend>

                <div class="row">
                    <div class="large-12 columns">
                        <label for="Description">
                            Brief description of the program and types of expenses paid for by this fund<span class="required">*</span>
                        </label>
                        <textarea name="Description" data-bind="value: Description"></textarea>
                        <span class="error-message" data-bind="validationMessage: Description"></span>
                    </div>
                </div>

                <div class="row">
                    <div class="large-12 columns">
                        <label for="BudgetAdjustmentNote">
                            Reason for increase or decrease in the requested budget
                        </label>
                        <textarea name="BudgetAdjustmentNote" data-bind="value: BudgetAdjustmentNote"></textarea>
                        <span class="error-message" data-bind="validationMessage: BudgetAdjustmentNote"></span>
                    </div>
                </div>
            </fieldset>

            <fieldset>
                <legend>Attachments</legend>

                <div class="row">
                    <div class="large-12 columns">
                        <a href="http://www.obfp.vt.edu/forms/foundation-portal/budget-request-template.xlsx"
                            >Download budget request template</a>
                    </div>
                </div>

                <form name="fileInputForm">
                    <input type="file" name="files[]" multiple
                        data-bind="event: { onload: window.fileInputForm.reset(), change: $parent.postFiles }" />
                </form>

                <div class="row">
                    <div class="large-12 columns">
                        <table data-bind="visible: FileUploads().length > 0">
                            <thead>
                                <tr>
                                    <th>File</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody data-bind="foreach: FileUploads">
                                <tr data-bind="visible: !destroy()">
                                    <td>
                                        <a data-bind="visible: Id, text: OriginalFileName,
                                        attr: { href: Source }"></a>
                                        <span class="error-message" 
                                            data-bind="visible: errorMessage, text: errorMessage"></span>
                                    </td>
                                    <td data-bind="click: $root.removeFileUpload">
                                        <i class="fi-trash"></i>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <p data-bind="visible: FileUploads().length === 0">No files uploaded</p>
                    </div>
                </div>
            </fieldset>

            <div class="row">
                <div class="large-12 columns">
                    <span class="error-message" 
                        data-bind="visible: errorMessage, text: errorMessage"></span>
                </div>
            </div>

            <div class="row">
                <div class="large-12 columns">
                    <span class="text-button" data-bind="click: $parent.saveItem">Save
                    </span>
                </div>
            </div>
        </section>

    </div>
</div>
