<div class="row">
    <div class="large-12 columns">
        <section data-bind="with: item">
            <h4 class="view-heading">FUND INFORMATION</h4>

            <fieldset>
                <h5>Fund current status</h5>

                <div class="row">
                    <div class="large-4 columns">
                        <label for="Status" class="hide-on-print">
                            Status
                        </label>
                        <select name="Status" class="hide-on-print" data-bind="value: Status">
                            <option value="1">Draft</option>
                            <option value="2">Final</option>
                        </select>
                        <span class="print-only" data-bind="text: 'Status: ' + fundStatusText()"></span>
                    </div>
                </div>

                <div class="row">
                    <div class="large-4 columns">
                        <label for="Number" class="hide-on-print">
                            Fund number<span class="required">*</span>
                        </label>
                        <input name="Number" type="text" class="hide-on-print" data-bind="value: Number, css: { validationElement: true }" />
                        <span class="print-only" data-bind="text: 'Fund number: ' + Number()"></span>
                        <label for="Number" class="error-message" data-bind="validationMessage: Number"></label>
                    </div>
                </div>

                <div class="row">
                    <div class="large-8 columns">
                        <label for="Title" class="hide-on-print">
                            Title<span class="required">*</span>
                        </label>
                        <input name="Title" type="text" class="hide-on-print" data-bind="value: Title" />
                        <span class="print-only" data-bind="text: 'Title: ' + Title()"></span>
                        <label for="Title" class="error-message" data-bind="validationMessage: Title"></label>
                    </div>
                </div>

                <div class="row">
                    <div class="large-6 columns">
                        <label for="ResponsiblePerson" class="hide-on-print">
                            Responsible person<span class="required">*</span>
                        </label>
                        <input name="ResponsiblePerson" type="text" class="hide-on-print" data-bind="value: ResponsiblePerson" />
                        <span class="print-only" data-bind="text: 'Responsible person: ' + ResponsiblePerson()"></span>
                        <label for="ResponsiblePerson"
                            class="error-message" data-bind="validationMessage: ResponsiblePerson">
                        </label>
                    </div>
                </div>

                <div class="row">
                    <div class="large-6 columns">
                        <label for="CurrentBudget" class="hide-on-print">
                            Current fiscal year approved budget<span class="required">*</span>
                        </label>
                        <input name="CurrentBudget" type="text" class="hide-on-print"
                            data-bind="value: formattedCurrentBudget, css: { 'negative-value': CurrentBudget() < 0 }" />
                        <span class="print-only" data-bind="text: 'Current fiscal year approved budget: ' + formattedCurrentBudget()"></span>
                        <label for="CurrentBudget"
                            class="error-message" data-bind="validationMessage: CurrentBudget">
                        </label>
                    </div>
                </div>

                <div class="row">
                    <div class="large-6 columns">
                        <label for="ProjectedExpenditures" class="hide-on-print">
                            Current fiscal year projected expenditures<span class="required">*</span>
                        </label>
                        <input name="ProjectedExpenditures" type="text" class="hide-on-print"
                            data-bind="value: formattedProjectedExpenditures, css: { 'negative-value': ProjectedExpenditures() < 0 }" />
                        <span class="print-only" data-bind="text: 'Current fiscal year projected expenditures: ' + formattedProjectedExpenditures()"></span>
                        <label for="ProjectedExpenditures"
                            class="error-message" data-bind="validationMessage: ProjectedExpenditures">
                        </label>
                    </div>
                </div>

                <div class="row">
                    <div class="large-6 columns">
                        <div class="input-panel hide-on-print">
                            <span>Projected year-end balance:
                            <strong
                                data-bind="text: formattedProjectedYearEndBalance, css: { 'negative-value': projectedYearEndBalance() < 0 }"></strong>
                            </span>
                        </div>
                        <span class="print-only" data-bind="text: 'Projected year-end balance: ' + formattedProjectedYearEndBalance()"></span>
                    </div>
                </div>
            </fieldset>

            <fieldset>
                <h5>Fund next year projected budget</h5>

                <div class="row">
                    <div class="large-4 columns">
                        <label for="BudgetAdjustment" class="hide-on-print">
                            Projected increase or decrease<span class="required">*</span>
                        </label>
                        <input name="BudgetAdjustment" type="text" class="hide-on-print"
                            data-bind="value: formattedBudgetAdjustment, css: { 'negative-value': BudgetAdjustment() < 0 }" />
                        <span class="print-only" data-bind="text: 'Projected increase or decrease: ' + formattedBudgetAdjustment()"></span>
                        <label for="BudgetAdjustment"
                            class="error-message" data-bind="validationMessage: BudgetAdjustment">
                        </label>
                    </div>
                </div>

                <div class="row">
                    <div class="large-6 columns">
                        <div class="input-panel hide-on-print">
                            <span>Requested budget: 
                            <strong
                                data-bind="text: formattedRequestedBudget, css: { 'negative-value': requestedBudget() < 0 }"></strong>
                            </span>
                        </div>
                        <span class="print-only" data-bind="text: 'Requested budget: ' + formattedRequestedBudget()"></span>
                    </div>
                </div>
            </fieldset>

            <fieldset>
                <h5>Fund supporting information</h5>

                <div class="row">
                    <div class="large-12 columns">
                        <label for="Description">
                            Brief description of the program and types of expenses paid for by this fund<span class="required">*</span>
                        </label>
                        <p class="print-only" data-bind="text: Description"></p>
                        <textarea name="Description" class="hide-on-print"
                            data-bind="value: Description"></textarea>
                        <label for="Description"
                            class="error-message" data-bind="validationMessage: Description">
                        </label>
                    </div>
                </div>

                <div class="row">
                    <div class="large-12 columns">
                        <label for="BudgetAdjustmentNote">
                            Reason for increase or decrease in the requested budget for this fund<span class="required"
                                data-bind="visible: BudgetAdjustment() > 0">*</span>
                        </label>
                        <p class="print-only" data-bind="text: BudgetAdjustmentNote"></p>
                        <textarea name="BudgetAdjustmentNote" class="hide-on-print"
                            data-bind="value: BudgetAdjustmentNote"></textarea>
                        <label for="BudgetAdjustmentNote"
                            class="error-message" data-bind="validationMessage: BudgetAdjustmentNote">
                        </label>
                    </div>
                </div>
            </fieldset>

            <fieldset>
                <h5>Fund attachments</h5>

                <div class="row hide-on-print">
                    <div class="large-12 columns">
                        <p>
                            <a href="http://www.obfp.vt.edu/forms/foundation-portal/budget-request-template.xlsx">Download budget request template</a>
                        </p>
                    </div>
                </div>

                <form name="fileInputForm" class="hide-on-print">
                    <input type="file" name="files[]" multiple
                        data-bind="event: { onload: window.fileInputForm.reset(), change: $parent.postFiles }" />
                </form>

                <div class="row">
                    <div class="large-12 columns">
                        <table data-bind="visible: FileUploads().length > 0">
                            <thead>
                                <tr>
                                    <th>File</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody data-bind="foreach: FileUploads">
                                <tr data-bind="visible: !destroy()">
                                    <td>
                                        <a data-bind="visible: Id, text: OriginalFileName,
    attr: { href: Source }"></a>
                                        <span class="error-message"
                                            data-bind="visible: errorMessage, text: errorMessage"></span>
                                    </td>
                                    <td data-bind="click: $root.removeFileUpload">
                                        <i class="fi-trash"></i>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <p data-bind="visible: FileUploads().length === 0">No files uploaded</p>
                    </div>
                </div>
            </fieldset>

            <div class="row" data-bind="visible: errorMessage">
                <div class="large-12 columns">
                    <p>
                        <span class="error-message"
                            data-bind="text: errorMessage"></span>
                    </p>
                </div>
            </div>

            <div class="row hide-on-print">
                <div class="large-12 columns">
                    <span class="text-button" data-bind="click: $parent.saveItem">Save
                    </span>
                </div>
            </div>
        </section>

    </div>
</div>
