<div class="row">
    <div class="large-12 columns">
        <h4 class="view-heading">REQUESTS</h4>

        <div class="row">
            <div class="large-12 columns">
                <a data-bind="click: navigateToCreateView">Create a new fund</a>
            </div>
        </div>

        <p class="error" data-bind="if: error, text: error"></p>

        <div class="row">
            <div class="large-4 columns">
                <label for="Area">
                    Requesting area
                </label>
                <select name="Area" data-bind="foreach: areas, value: selectedAreaId">
                    <option data-bind="attr: { value: Id }, text: Name"></option>
                </select>
            </div>
        </div>

        <div class="row">
            <div class="large-12 columns">
                <table class="tabular" data-bind="visible: !noItemsToShow()">
                    <thead>
                        <tr>
                            <th>Fund number</th>
                            <th>Fund title</th>
                            <th>Responsible person</th>
                            <th class="hide-for-medium-down">Current fiscal year approved budget</th>
                            <th class="hide-for-medium-down">YTD and projected expenditures through June 30</th>
                            <th class="hide-for-medium-down">Requested budget</th>
                            <th class="hide-for-medium-down">Variance</th>
                            <th class="hide-for-medium-down">Status</th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: items">
                        <tr>
                            <td>
                                <a data-bind="fastlink: '#/funds/edit/' + Id, text: Number"></a>
                            </td>
                            <td data-bind="text: Title"></td>
                            <td data-bind="text: ResponsiblePerson"></td>
                            <td class="hide-for-medium-down" data-bind="text: CurrentBudget"></td>
                            <td class="hide-for-medium-down" data-bind="text: ProjectedExpenditures"></td>
                            <td class="hide-for-medium-down" data-bind="text: requestedBudget"></td>
                            <td class="hide-for-medium-down" data-bind="text: variance"></td>
                            <td class="hide-for-medium-down" data-bind="text: fundStatusText"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <p data-bind="if: noItemsToShow">No records</p>
    </div>
</div>
